body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 2px solid #222121;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

#save-btn {
    background-color: #20a73f;
    color: white;
}

#save-btn:hover {
    background-color: #17c63d;
}

#clear-btn {
    background-color: #a12834;
    color: white;
}

#clear-btn:hover {
    background-color: #e10d23;
}

#display-name {
    margin-top: 45px;
    font-size: 20px;
    font-weight: bold;
    color: #161515;
}